<h2>New Present</h2>

<form class="form" method="POST" action="/presents/new">
    <label>Present's name</label>
    <input required type="text" name="name" placeholder="Catan"/>
    <label>Present's image</label>
    <input type="text" name="image" placeholder="https://..."/>
    <label>Present's price</label>
    <input type="number" name="price" placeholder="40"/>
    <label>Present's owner</label>
    <input type="text" name="recipient" placeholder="Josep"/>
    <label>What's this present about?</label>
    <input class="lastinput" type="text" name="description" placeholder="Description"/>
    <button type="submit">Create present</button>
</form>